# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# OS Metadata
.DS_Store
Thumbs.db
.vercel

# Node Modules & Caches
node_modules/
npm_cache/
package.json
package-lock.json

# Local Environment Variables
.env
.env.*
.venv
.env
.env*
